div.card {
	--bs-card-color: var(--theme-color, #333);
	--bs-card-bg: var(--theme-background, #fff);
}

.card {
	&__title {
		color: var(--theme-color, #333);
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	&__text {
		position: relative;
		color: var(--theme-color, #333);
		opacity: 0.85;

		&__content {
			display: -webkit-box;
			position: absolute;
			inset: 0;
			overflow: hidden;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
		}
	}

	&__body {
		grid-template-rows: 1.75rem min-content 1fr;
		min-height: 160px;
	}
}
